<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="FileUtil">
      <section name="Settings" type="Ninja.FileUtil.Configuration.Settings, Ninja.FileUtil" />
    </sectionGroup>
  </configSections>
  <FileUtil>
    <Settings>
      <Parser  delimiter="|"
                       header="H1"
                       data="D1"
                       footer="F1"/>

      <Provider folderPath="C:\temp"
                       fileNameFormat="feed_*.txt"
                       archiveUponRead="true"
                       archiveFolder="Archived"/>
    </Settings>
  </FileUtil>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>